@media (max-width: 550px) {
  /*---NAV BAR---*/
  h1 {
    margin-left: 5px;
  }
  .center {
    top: 15%;
    right: 30%;
  }

  .nav-bar1 a {
    border: hidden;
  }

  .nav-bar1 ul {
    display: block;
    padding-top: 30px;
  }

  /*TARGET*/

  .noidung1 {
    display: grid;
    grid-template-columns: 250px;
    justify-content: left;
  }

  .iconinfo {
    margin-left: 0;
  }

  #target {
    margin-bottom: 20px;
  }

  .section2 {
    margin: 0;
  }

  .mt-40 {
    margin-left: -30px;
  }
  .showinfor {
    margin-left: 0;
  }

  /*---JOB-INFO---*/

  .noidung2 {
    grid-template-columns: 300px;
    justify-content: center;
    grid-template-rows: repeat(6, 120px);
  }
  .ex2 {
    grid-template-rows: 650px 400px 400px 400px 400px 400px;
    justify-content: center;
  }

  /*---CERTIFICATE---*/

  .noidung3 {
    display: flex;
    flex-direction: column;
  }

  .cer2,
  .cer1 {
    border: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-bottom: 1px solid #d6c08d;
    padding-bottom: 20px;
  }

  .cer3 {
    border: hidden;
  }

  /*---PROJECT*/

  .noidung4 {
    grid-template-columns: 300px;
  }

  .tb1-content1 {
    margin-top: -20px;
  }

  .media {
    display: block;
    margin-left: 58px;
  }

  /*---FOOTER---*/

  .noidung5 .icfooter {
    font-size: 18px;
  }
}
